Flask==3.1.2
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
Flask-Mail
Werkzeug
Jinja2
itsdangerous
MarkupSafe
click
blinker
colorama
reportlab
qrcode[pil]
cryptography
requests
pytest
pytest-flask
pytest-cov
